In [13]:
import pandas as pd 
pd.__version__

'1.2.3'

In [14]:
import yake
yake.__version__

'0.4.8'

In [15]:
## load the data
allData = pd.read_csv('variables.csv')
allData.head(3)

,release.resource,release.version,table,name,collectionEvent.resource,collectionEvent.name,label,format,unit,references.table,references.name,mandatory,description,order,exampleValues,keywords,vocabularies
0,LifeCycle,1.0.0,core,FEF75_z,NaN,NaN,Forced Expiratory Flow after exhaling 75% of F...,continuous,NaN,NaN,NaN,NaN,NaN,NaN,NaN,child_healthchar_resp_lungfunc_spirometry_fef7...,NaN
1,LifeCycle,1.0.0,core,abroad_child,NaN,NaN,Child's born abroad,boolean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,aaaac2ipjyxw36qwhza7xqiaae,NaN
2,LifeCycle,1.0.0,core,abroad_fa,NaN,NaN,Father's born abroad,boolean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,aaaaczochh3bp6qwhycgrlaaae,NaN

In [16]:
labels = allData['label'].tolist()
labels[0]

'Forced Expiratory Flow after exhaling 75% of FVC, z-score according to GLI reference criteria within one year of birth (child aged between >-1 year and <1 year)'

In [8]:
text  = ' '.join(labels)

In [22]:
len(text)

44121

In [23]:
kw_extractor = yake.KeywordExtractor()
keywords = kw_extractor.extract_keywords(text)

for kw in keywords:
	print(kw)

('year', 0.00022927628111764223)
('child aged', 0.00035460429955853424)
('child', 0.0005149418382951859)
('years', 0.0007002895108049725)
('age', 0.0007343619568563031)
('total raw score', 0.0007454322062674351)
('preschool age', 0.0007988068045105667)
('pregnancy', 0.0010464726351817307)
('birth', 0.0011375814816710216)
('year of birth', 0.001321297847725552)
('pregnancy Child', 0.001417978556287107)
('index pregnancy Maternal', 0.0014512946927198944)
('exact age', 0.001473424619098505)
('birth Birth year', 0.0015833540390394116)
('years Child', 0.0016447570082330236)
('total ADHD score', 0.0016741764085941395)
('Total Fat intake', 0.0018256004538639424)
('total raw', 0.001828858155057608)
('total', 0.0020070684464099657)
('pregnancy Maternal', 0.00210193659438389)